<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="#">Bootstrap</a>
       </div>
<img src="./images/panda.PNG" class="logo_image">
<nav class="menu">
     <ul class="row">
        <li class="col-sm-6 col-md-3">top</li>
    <li class="col-sm-6 col-md-3">menu1</li>
        <li class="col-sm-6 col-md-3">menu2</li>
    </ul>
</nav>
<article>
    <div class="contents">
         <article>
      <h1>True story From WebUser 7 Feb 2018</h1>
             <ul class="row">
               <li class="col-sm-6 col-md-3">bit.ly/stories442. If you’d like to produce your own game but don’t have the
necessary coding skills, just install the new Chrome extension
Story Speaker. </li>
              <li class="col-sm-6 col-md-3">Instagram has quietly
introduced a feature that
reveals when you last used
the app. </li>
<li class="col-sm-6 col-md-3">assistant.google.com/explore. 
Google Assistant seems to have all the
answers, but what are the questions?</li><li class="col-sm-6 col-md-3">SoleSens is a ‘smart insole’ that detects when elderly
and vulnerable people trip, slip or fall, and notifies a
nominated friend, family member or carer. . </li>
               
            </ul>
    </article>
    <article>
      <h1>True story From WebUser 7 Feb 2018</h1>
            <ul class="row">
                <li class="col-sm-6 col-md-3">www.skype.com/en/insider. It’s unlikely that anyone will eavesdrop
on your Skype conversations but
Microsoft’s decision to introduce endto-end encryption is still a welcome
privacy measure. </li>
                <li class="col-sm-6 col-md-3">bit.ly/electric442
If you’ve ever wondered where
a nation’s electricity comes from and
how much carbon dioxide is emitted
to produce it, then power over to this
near real-time, colour-coded map.</li>
<li class="col-sm-6 col-md-3">www.wishlockr.com
Talking about your death is likely to dampen the mood somewhat at family gettogethers but this new website offers a solution. . </li>
<li class="col-sm-6 col-md-3">The Guardian newspaper recently hit the
headlines following its switch to a tabloid
format, and its website has undergone
a revamp, too.  . </li>
                
            </ul>
    </article>
    </div>
</article>