<!DOCTYPE html>
<html>
<head>
  <title>Example code</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    
    <ul>
      
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>DIVE INTO CODE</p>
    <p>© 2015-2018 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>